body{
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
}
.card {
    /* Add shadows to create the "card" effect */
    
    transition: 0.3s;
    width: 20%;
    padding: 5px 5px;
    margin: 20px 20px;
    border-radius: 14px;
  }
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/* Add some padding inside the card container */
.container-row {
    display: flex;
    align-items: stretch;
    text-align: center;
    padding: 2px 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 14px;
}

.weather{
  background-color: cyan !important;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 70%;
    perspective: 1000px;
    padding: 5px 5px;
    margin: 10px 10px;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    float: left;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    border-radius: 14px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    font-family: Verdana;
    font-size: 1.5vw;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 14px;
  }
  
  .flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 51, 51);
    border-radius: 14px;
    color: white;
  }
  
  .flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2980b9;
    border-radius: 14px;
    color: white;
    transform: rotateY(180deg);
  }

  img {
      max-width: 100%;
      height: auto;
  }